<section id="bio" class="bio scrollto">


    <div class="row clearfix">
        {% assign lang = page.lang | default: 'es' %}
        <div class="col-1">
            <div class="section-heading">
                {% if site.data.home.bio.subtitle[lang] %}
                  <h3>{{ site.data.home.bio.subtitle[lang] }}</h3>
                {% endif %}
                <h2 class="section-title">{{ site.data.home.bio.section_title[lang] }}</h2>
            </div>
            <div class="bio-content">
                {{ site.data.home.bio.bio[lang] | markdownify }}
            </div>
        </div>


    {% if site.data.home.bio.show_timeline %}
      <!-- Timeline -->
      <div class="row">
        <div class="col-1">
          <div class="timeline-container">
            <div class="timeline-line"></div>
            {% for item in site.data.home.bio.timeline %}
              {% assign is_even = forloop.index | modulo: 2 %}
              {% if is_even == 0 %}
                  <div class="timeline-item right">
              {% else %}
                  <div class="timeline-item">
              {% endif %}
                  <div class="timeline-point"></div>
                  <div class="timeline-content">
                      <div class="timeline-date">{{ item.date[lang] }}</div>
                      <h3 class="timeline-title">{{ item.title[lang] }}</h3>
                      <div class="timeline-subtitle">{{ item.subtitle[lang] }}</div>
                      {% if item.description %}<div class="timeline-description">{{ item.description[lang] }}</div>{% endif %}
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}


  </div>

</section>
