<section id="bio" class="bio scrollto">


    <div class="row clearfix">
        {% assign lang = page.lang | default: 'es' %}
        <div class="col-2">
            <div class="section-heading">
                {% if site.data.home.bio.subtitle[lang] %}
                  <h3>{{ site.data.home.bio.subtitle[lang] }}</h3>
                {% endif %}
                <h2 class="section-title">{{ site.data.home.bio.section_title[lang] }}</h2>
            </div>
            <div class="bio-content">
                {{ site.data.home.bio.bio[lang] | markdownify }}
            </div>
        </div>

        <div class="col-2" style="text-align: center;">
            <img src="{{ site.data.home.bio.photo }}" alt="me" class="profile-photo"/>
            <p class="section-subtitle">
                <br>
                <b>{{ site.data.personal.position[lang] }}</b><br>
                {{ site.data.personal.affiliation }}<br>
                {{ site.data.personal.subaffiliation }}<br>
                <br>
                <i class="fa fa-envelope fa-1x">&nbsp;&nbsp;</i><a href="mailto:{{ site.data.personal.email }}" target="_blank">{{ site.data.personal.email }}</a>
            </p>
            {% assign cv_item = site.data.home.menu | where: 'key', 'cv' | first %}
            {% if cv_item %}
                <a href="{{ cv_item.url[lang] }}" class="button">{{ site.data.i18n[lang].cv_button | default: 'CV completo' }}</a>
            {% endif %}
        </div>


    {% if site.data.home.bio.show_timeline %}
      <!-- Timeline -->
      <div class="row">
        <div class="col-1">
          <div class="timeline-container">
            <div class="timeline-line"></div>
            {% for item in site.data.home.bio.timeline %}
              {% assign is_even = forloop.index | modulo: 2 %}
              {% if is_even == 0 %}
                  <div class="timeline-item right">
              {% else %}
                  <div class="timeline-item">
              {% endif %}
                  <div class="timeline-point"></div>
                  <div class="timeline-content">
                      <div class="timeline-date">{{ item.date[lang] }}</div>
                      <h3 class="timeline-title">{{ item.title[lang] }}</h3>
                      <div class="timeline-subtitle">{{ item.subtitle[lang] }}</div>
                      {% if item.description %}<div class="timeline-description">{{ item.description[lang] }}</div>{% endif %}
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}


  </div>

</section>
