<section id="publications" class="publications scrollto">
  <div class="row clearfix">
    <div class="col-1">
      <div class="section-heading">
        {% assign lang = page.lang | default: 'es' %}
        {% if site.data.home.publications.subtitle[lang] %}
          <h3>{{ site.data.home.publications.subtitle[lang] }}</h3>
        {% endif %}
        <h2 class="section-title">{{ site.data.home.publications.section_title[lang] }}</h2>
      </div>
      <div class="col-8"></div>
      <div class="col-3-4">
        <div class="publication-grid">
          <!-- Featured publications from processed bibliography data -->
          {% assign featured_keys = site.data.home.publications.featured_keys %}
          {% for key in featured_keys %}
            {% assign entry = site.data.bibliography[key] %}
            {% if entry %}
              <div class="publication-card">
                <h5 class="category-label">{{ site.data.i18n[lang].publication_types[entry.type] | default: entry.type | capitalize }}</h5>
                <div class="publication-title">{{ entry.title }}</div>
                <div class="publication-metadata">
                  <div class="publication-source">
                    {% assign source_text = "" %}
                    {% if entry.journal and entry.journal != "" %}
                      {% assign source_text = "<em>" | append: entry.journal | append: "</em>" %}
                    {% endif %}
                    {% if entry.booktitle and entry.booktitle != "" %}
                      {% assign source_text = site.data.i18n[lang].publication_text.in | append: " <em>" | append: entry.booktitle | append: "</em>" %}
                    {% endif %}
                    {% if entry.year and entry.year != "" %}
                      {% if source_text != "" %}{% assign source_text = source_text | append: ", " %}{% endif %}
                      {% assign source_text = source_text | append: entry.year %}
                    {% endif %}
                    {{ source_text }}
                  </div>
                  <div class="publication-details">
                    {% assign detail_parts = "" | split: "" %}
                    {% if entry.publisher and entry.publisher != "" %}{% assign detail_parts = detail_parts | push: entry.publisher %}{% endif %}
                    {% if entry.address and entry.address != "" %}{% assign detail_parts = detail_parts | push: entry.address %}{% endif %}
                    {% if entry.pages and entry.pages != "" %}{% assign detail_parts = detail_parts | push: entry.pages %}{% endif %}
                    {{ detail_parts | join: ", " }}
                  </div>
                  {% if entry.url and entry.url != "" %}<a href="{{ entry.url }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].access_text }}</a>{% endif %}
                  {% if entry.doi and entry.doi != "" %}<a href="https://doi.org/{{ entry.doi }}" target="_blank" class="button no-icon">DOI</a>{% endif %}
                  {% assign links = site.data.home.publications.links[key] %}
                  {% if links.pdf %}<a href="{{ links.pdf }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].publication_buttons.pdf }}</a>{% endif %}
                  {% if links.code %}<a href="{{ links.code }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].publication_buttons.code }}</a>{% endif %}
                  {% if links.slides %}<a href="{{ links.slides }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].publication_buttons.slides }}</a>{% endif %}
                  {% if links.data %}<a href="{{ links.data }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].publication_buttons.data }}</a>{% endif %}
                  {% if links.video %}<a href="{{ links.video }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].publication_buttons.video }}</a>{% endif %}
                  {% if links.poster %}<a href="{{ links.poster }}" target="_blank" class="button no-icon">{{ site.data.i18n[lang].publication_buttons.poster }}</a>{% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="more-cv">
          <a href="{% if lang == 'en' %}/en{% else %}/es{% endif %}/cv/#publications" class="link-button">
            {{ site.data.i18n[lang].more_cv.publications }}
          </a>
        </div>
      </div>
      <div class="col-8"></div>
    </div>
  </div>
</section>
