<footer id="landing-footer" class="clearfix">
  <div class="row clearfix">
    <div class="col-1 footer-content">
      <!-- Social Icons Section -->
      <div class="footer-social">
        <ul class="footer-social-icons">
          <li><a target="_blank" title="email" class="no-icon" href="mailto:david.merino@uab.cat"><i class="fa fa-envelope fa-2x"></i><span>email</span></a></li>
          <li><a target="_blank" title="ORCiD" class="no-icon" href="https://orcid.org/0000-0003-2740-7831"><i class="ai ai-orcid ai-2x"></i><span>ORCiD</span></a></li>
          <li><a target="_blank" title="Google Scholar" class="no-icon" href="https://scholar.google.es/citations?user=HS7G8eYAAAAJ&hl=es"><i class="ai ai-google-scholar ai-2x"></i><span>Google Scholar</span></a></li>
          <li><a target="_blank" title="Zotero" class="no-icon" href="https://www.zotero.org/dxvidmr/"><i class="ai ai-zotero ai-2x"></i><span>Zotero</span></a></li>
          <li><a target="_blank" title="GitHub" class="no-icon" href="https://github.com/dxvidmr"><i class="fa-brands fa-github fa-2x"></i><span>GitHub</span></a></li>
          <li><a target="_blank" title="X" class="no-icon" href="http://www.x.com/dxvidmr"><i class="fa-brands fa-x-twitter fa-2x"></i><span>X</span></a></li>
          <li><a target="_blank" title="Bluesky" class="no-icon" href="https://bsky.app/profile/dxvidmr.bsky.social"><i class="fa-brands fa-bluesky fa-2x"></i><span>Bluesky</span></a></li>
          <li><a target="_blank" title="Instagram" class="no-icon" href="https://www.instagram.com/davidmerinorecalde"><i class="fa-brands fa-instagram fa-2x"></i><span>Instagram</span></a></li>
        </ul>
      </div>
      <!-- End Social Icons -->

      <!-- Copyright -->
      <div class="footer-copyright">
        <p class="copyright">© 2025 David Merino Recalde. This customized theme is free to use under the terms of
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" class="no-icon">CC BY 4.0</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
