<footer id="landing-footer" class="clearfix">
  <div class="row clearfix">
    <div class="col-1 footer-content">
      <!-- Social Icons Section -->
      <div class="footer-social">
        <ul class="footer-social-icons">
          <li>{% include components/social-icons.html %}</li>
        </ul>
      </div>
      <!-- End Social Icons -->

      <!-- Copyright -->
      <div class="footer-copyright">
        <p class="copyright">
          © {{ 'now' | date: '%Y' }} {{ site.data.personal.name }}.
          {{ site.data.personal.license }}
        </p>
      </div>
    </div>
  </div>
</footer>
