<!-- Activities Section -->
<section id="activities" class="cv-section">
  <h2 class="section-title">
    {{ site.data.i18n[page.lang].cv.sections.activities }}
  </h2>

  <!-- Conference Organization -->
  {% if site.data.cv.activities.conferences %}
    <h3 class="subsection-title">
      {{ site.data.i18n[page.lang].cv.activities.conference_organization }}
    </h3>
    <ul class="cv-list">
      {% for conference in site.data.cv.activities.conferences %}
        <li>
          <b>{{ conference.date }}</b> {{ conference.title }}. 
          {% if conference.role[page.lang] %}
            {{ conference.role[page.lang] }}
          {% else %}
            {{ conference.role }}
          {% endif %}{% if conference.location %}, {{ conference.location }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Academic Editing & Review -->
  {% if site.data.cv.activities.editing %}
    <h3 class="subsection-title">
      {{ site.data.i18n[page.lang].cv.activities.academic_editing }}
    </h3>
    <ul class="cv-list">
      {% for editing in site.data.cv.activities.editing %}
        <li>
          <b>{{ editing.date }}</b> 
          {% if editing.title[page.lang] %}
            {{ editing.title[page.lang] }}
          {% else %}
            {{ editing.title }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Peer Review for Journals -->
  {% if site.data.cv.activities.peer_review.journals %}
    <h4 class="subsection-title">
      {{ site.data.i18n[page.lang].cv.activities.peer_review_journals }}
    </h4>
    <ul class="cv-list">
      {% for review in site.data.cv.activities.peer_review.journals %}
        <li>
          <b>{{ review.years | join: ', ' }}.</b> <i>{{ review.journal }}</i>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Peer Review for Conferences -->
  {% if site.data.cv.activities.peer_review.conferences %}
    <h4 class="subsection-title">
      {{ site.data.i18n[page.lang].cv.activities.peer_review_conferences }}
    </h4>
    <ul class="cv-list">
      {% for review in site.data.cv.activities.peer_review.conferences %}
        <li>
          {{ review.conference }}, {{ review.organization }}, {{ review.location }}, {{ review.date }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Academic Associations -->
  {% if site.data.cv.activities.associations %}
    <h3 class="subsection-title">
      {{ site.data.i18n[page.lang].cv.activities.academic_associations }}
    </h3>
    <ul class="cv-list">
      {% for association in site.data.cv.activities.associations %}
        <li>
          {{ association.name }}. 
          {% if association.role[page.lang] %}
            {{ association.role[page.lang] }}
          {% else %}
            {{ association.role }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
