<!-- Grants & Awards Section -->
<section id="grants" class="cv-section">
  <h2 class="section-title">
    {{ site.data.cv.grants.section_title[page.lang] }}
  </h2>
  
  {% for grant in site.data.cv.grants.items %}
    <div class="item-container{% if grant.highlight %} highlight{% endif %}">
      <h5 class="item-date">
        {% include helpers/format-date.html date_start=grant.date lang=page.lang format='simple' %}
      </h5>
      <h4 class="item-title">
        {% if grant.title[page.lang] %}
          {{ grant.title[page.lang] }}
        {% else %}
          {{ grant.title }}
        {% endif %}
      </h4>
      <div class="item-metadata">
        {{ grant.institution }}
      </div>
      {% if grant.description %}
        <div class="item-description">
          {% if grant.description[page.lang] %}
            {{ grant.description[page.lang] | newline_to_br }}
          {% else %}
            {{ grant.description | newline_to_br }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
