<!-- Talks Section -->
<section id="talks" class="cv-section">
  <h2 class="section-title">
    {{ site.data.cv.talks.section_title[page.lang] }}
  </h2>

  {% for cat in site.data.cv.talks.categories %}
    <h3 class="subsection-title">
      {{ cat.title[page.lang] }}
    </h3>
    {% for talk in cat.items %}
      <div class="item-container{% if talk.highlight %} highlight{% endif %}">
        <h5 class="item-date">
          {% include helpers/format-date.html date_start=talk.date date_end=talk.date_end lang=page.lang format='full' %}
        </h5>
        <h4 class="item-title">{{ talk.title }}</h4>
        <div class="item-metadata">
          {% if talk.event %}
            {{ talk.event }}<br>
          {% endif %}
          {% if talk.institution %}{{ talk.institution }}, {% endif %}{{ talk.location }}
          {% if talk.role %}<br><em>
            {% if talk.role[page.lang] %}
              {{ talk.role[page.lang] }}
            {% else %}
              {{ talk.role }}
            {% endif %}
          </em>{% endif %}
          {% if talk.award %}<br><strong>
            {% if talk.award[page.lang] %}
              {{ talk.award[page.lang] }}
            {% else %}
              {{ talk.award }}
            {% endif %}
          </strong>{% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</section>
