<!-- Publication Item Component -->
<div class="item-container">
  {% if include.entry.author %}
    <div class="publication-author">{{ include.entry.author }}</div>
  {% endif %}
  <div class="publication-title">{{ include.entry.title }}</div>
  <div class="publication-details">
    {% assign source_text = "" %}
    {% if include.entry.journal and include.entry.journal != "" %}
      {% assign source_text = "<em>" | append: include.entry.journal | append: "</em>" %}
    {% endif %}
    {% if include.entry.booktitle and include.entry.booktitle != "" %}
      {% assign source_text = site.data.i18n[include.lang].publication_text.in | append: " <em>" | append: include.entry.booktitle | append: "</em>" %}
    {% endif %}
    {% if include.entry.year and include.entry.year != "" %}
      {% if source_text != "" %}{% assign source_text = source_text | append: ", " %}{% endif %}
      {% assign source_text = source_text | append: include.entry.year %}
    {% endif %}
    {{ source_text }}
    
    {% assign detail_parts = "" | split: "" %}
    {% if include.entry.publisher and include.entry.publisher != "" %}{% assign detail_parts = detail_parts | push: include.entry.publisher %}{% endif %}
    {% if include.entry.address and include.entry.address != "" %}{% assign detail_parts = detail_parts | push: include.entry.address %}{% endif %}
    {% if include.entry.pages and include.entry.pages != "" %}{% assign detail_parts = detail_parts | push: include.entry.pages %}{% endif %}
    {% if detail_parts.size > 0 %}, {{ detail_parts | join: ", " }}{% endif %}
    
    {% if include.entry.url and include.entry.url != "" %} <a href="{{ include.entry.url }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].access_text }}</a>{% endif %}
    {% if include.entry.doi and include.entry.doi != "" %} <a href="https://doi.org/{{ include.entry.doi }}" target="_blank" class="button no-icon">DOI</a>{% endif %}
    
    {% assign key = include.entry.key %}
    {% assign links = site.data.cv.publications.links[key] %}
    {% if links.pdf %} <a href="{{ links.pdf }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].publication_buttons.pdf }}</a>{% endif %}
    {% if links.code %} <a href="{{ links.code }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].publication_buttons.code }}</a>{% endif %}
    {% if links.slides %} <a href="{{ links.slides }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].publication_buttons.slides }}</a>{% endif %}
    {% if links.data %} <a href="{{ links.data }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].publication_buttons.data }}</a>{% endif %}
    {% if links.video %} <a href="{{ links.video }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].publication_buttons.video }}</a>{% endif %}
    {% if links.poster %} <a href="{{ links.poster }}" target="_blank" class="button no-icon">{{ site.data.i18n[include.lang].publication_buttons.poster }}</a>{% endif %}
  </div>
</div>
